<center>
<table border=0 cellpadding=5 cellspacing=0>
	<tr>
	<td align=center>
		<a id="button" data-icon="check" data-role="button" data-inline="true" data-mini="true" href="./index.cgi?do=start"><TMPL_VAR SETTINGS.BUTTON_START></a>
	</td>
	<td>
		<a id="button" data-icon="delete" data-role="button" data-inline="true" data-mini="truee" href="./index.cgi?do=stop"><TMPL_VAR SETTINGS.BUTTON_STOP></a>
	</td>
	<td>
		<a id="button" data-icon="refresh" data-role="button" data-inline="true" data-mini="truee" href="./index.cgi?do=restart"><TMPL_VAR SETTINGS.BUTTON_RESTART></a>
	</td>
	<td>
		<a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="truee" href="<TMPL_VAR STATUSURL>" target="_blank"><TMPL_VAR SETTINGS.BUTTON_STATUS></a>
	</td>
	<td>
		<TMPL_VAR LOGFILEBUTTON>
	</td>
	</tr>
	<tr>
	<td colspan=5 align=center>
		<font face="courier" size="-1"><TMPL_VAR SETTINGS.LABEL_PIDOFFFSERVER>&nbsp;<b><TMPL_VAR PIDOFFFSERVER></b>&nbsp;&nbsp;<TMPL_VAR SETTINGS.LABEL_PIDOFFFMPEG>&nbsp;<b><TMPL_VAR PIDOFFFMPEG></b></font>
	</td>
	</tr>
</table>
</center>

<hr>

<br>

<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
	<input type="hidden" name="saveformdata" value="1">
	<div class="form-group">

		<table class="formtable" border="0" width="100%" cellpadding="10">
			<tr>
				<td width="25%">
					<label id="labelstartffserver"><TMPL_VAR SETTINGS.LABEL_STARTFFSERVER></label>
				</td>
				<td width="50%">
					<TMPL_VAR STARTFFSERVER>
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_STARTFFSERVER></font>
				</td>
			</tr>
		</table>

		<br><br>

		<div data-role="collapsible" <TMPL_VAR CAM1COLLAPSED>>
		<h3>1. <TMPL_VAR SETTINGS.LABEL_CAM></h3>
		<table class="formtable" border="0" width="100%" cellpadding="10">
			<tr>
				<td colspan=4">
					<table border=0>
						<tr>
							<td><a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="truee" href="<TMPL_VAR CAM1VIDEOURL>" target="_blank"><TMPL_VAR SETTINGS.BUTTON_VIDEOSTREAM></a></td>
							<td><a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="truee" href="<TMPL_VAR CAM1PICTUREURL>" target="_blank"><TMPL_VAR SETTINGS.BUTTON_PICTURESTREAM></a></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelcamactive"><TMPL_VAR SETTINGS.LABEL_CAMACTIVE></label>
				</td>
				<td width="50%">
					<TMPL_VAR CAM1ACTIVE>
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_CAMACTIVE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_URL></label>
				</td>
				<td width="50%">
					<input name="cam1url" id="cam1url" value="<TMPL_VAR CAM1.URL>" data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_URL>" 
					data-validation-rule="((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_URL></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideobitrate"><TMPL_VAR SETTINGS.LABEL_VIDEOBITRATE></label>
				</td>
				<td width="50%">
					<input type="range" name="cam1videobitrate" id="cam1videobitrate" value="<TMPL_VAR CAM1.VIDEOBITRATE>" min="0" max="10240" step="1024">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOBITRATE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideoframerate"><TMPL_VAR SETTINGS.LABEL_VIDEOFRAMERATE></label>
				</td>
				<td width="50%">
					<input type="range" name="cam1videoframerate" id="cam1videoframerate" value="<TMPL_VAR CAM1.VIDEOFRAMERATE>" min="0" max="50" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOFRAMERATE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideosize"><TMPL_VAR SETTINGS.LABEL_VIDEOSIZE></label>
				</td>
				<td width="50%">
					<input type="text" name="cam1videosize" id="cam1videosize" value="<TMPL_VAR CAM1.VIDEOSIZE>" data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_VIDEOSIZE>"
          data-validation-rule="^([0-9]){3,4}x([0-9]){3,4}$">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOSIZE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideogopsize"><TMPL_VAR SETTINGS.LABEL_VIDEOGOPSIZE></label>
				</td>
				<td width="50%">
					<input type="range" name="cam1videogopsize" id="cam1videogopsize" value="<TMPL_VAR CAM1.VIDEOGOPSIZE>" min="0" max="100" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOGOPSIZE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideoqmin"><TMPL_VAR SETTINGS.LABEL_VIDEOQMIN></label>
				</td>
				<td width="50%">
					<input type="range" name="cam1videoqmin" id="cam1videoqmin" value="<TMPL_VAR CAM1.VIDEOQMIN>" min="-1" max="69" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOQMIN></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideoqmax"><TMPL_VAR SETTINGS.LABEL_VIDEOQMAX></label>
				</td>
				<td width="50%">
					<input type="range" name="cam1videoqmax" id="cam1videoqmax" value="<TMPL_VAR CAM1.VIDEOQMAX>" min="-1" max="100" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOQMAX></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_EXTRASFEED></label>
				</td>
				<td width="50%">
								<input name="cam1extrasfeed" id="cam1extrasfeed" value="<TMPL_VAR CAM1.EXTRAS_FEED>">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_EXTRASFEED></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_EXTRASSTREAM></label>
				</td>
				<td width="50%">
								<input name="cam1extrasfeed" id="cam1extrasfeed" value="<TMPL_VAR CAM1.EXTRAS_STREAM>">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_EXTRASSTREAM></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelpicture"><TMPL_VAR SETTINGS.LABEL_PICACTIVE></label>
				</td>
				<td width="50%">
					<TMPL_VAR CAM1PICACTIVE>
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_PICACTIVE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelimagesize"><TMPL_VAR SETTINGS.LABEL_IMAGESIZE></label>
				</td>
				<td width="50%">
					<input type="text" name="cam1imagesize" id="cam1imagesize" value="<TMPL_VAR CAM1.IMAGESIZE>" data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_IMAGESIZE>"
          data-validation-rule="^([0-9]){3,4}x([0-9]){3,4}$">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_IMAGESIZE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_EXTRASIMAGE></label>
				</td>
				<td width="50%">
								<input name="cam1extrasfeed" id="cam1extrasfeed" value="<TMPL_VAR CAM1.EXTRAS_IMAGE>">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_EXTRASIMAGE></font>
				</td>
			</tr>
		</table>
		</div>

		<div data-role="collapsible" <TMPL_VAR CAM2COLLAPSED>>
		<h3>2. <TMPL_VAR SETTINGS.LABEL_CAM></h3>
		<table class="formtable" border="0" width="100%" cellpadding="10">
			<tr>
				<td colspan=4">
					<table border=0>
						<tr>
							<td><a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="truee" href="<TMPL_VAR CAM2VIDEOURL>" target="_blank"><TMPL_VAR SETTINGS.BUTTON_VIDEOSTREAM></a></td>
							<td><a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="truee" href="<TMPL_VAR CAM2PICTUREURL>" target="_blank"><TMPL_VAR SETTINGS.BUTTON_PICTURESTREAM></a></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelcamactive"><TMPL_VAR SETTINGS.LABEL_CAMACTIVE></label>
				</td>
				<td width="50%">
					<TMPL_VAR CAM2ACTIVE>
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_CAMACTIVE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_URL></label>
				</td>
				<td width="50%">
					<input name="cam2url" id="cam2url" value="<TMPL_VAR CAM2.URL>" data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_URL>" 
					data-validation-rule="((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_URL></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideobitrate"><TMPL_VAR SETTINGS.LABEL_VIDEOBITRATE></label>
				</td>
				<td width="50%">
					<input type="range" name="cam2videobitrate" id="cam2videobitrate" value="<TMPL_VAR CAM2.VIDEOBITRATE>" min="0" max="10240" step="1024">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOBITRATE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideoframerate"><TMPL_VAR SETTINGS.LABEL_VIDEOFRAMERATE></label>
				</td>
				<td width="50%">
					<input type="range" name="cam2videoframerate" id="cam2videoframerate" value="<TMPL_VAR CAM2.VIDEOFRAMERATE>" min="0" max="50" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOFRAMERATE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideosize"><TMPL_VAR SETTINGS.LABEL_VIDEOSIZE></label>
				</td>
				<td width="50%">
					<input type="text" name="cam2videosize" id="cam2videosize" value="<TMPL_VAR CAM2.VIDEOSIZE>" data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_VIDEOSIZE>"
          data-validation-rule="^([0-9]){3,4}x([0-9]){3,4}$">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOSIZE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideogopsize"><TMPL_VAR SETTINGS.LABEL_VIDEOGOPSIZE></label>
				</td>
				<td width="50%">
					<input type="range" name="cam2videogopsize" id="cam2videogopsize" value="<TMPL_VAR CAM2.VIDEOGOPSIZE>" min="0" max="100" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOGOPSIZE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideoqmin"><TMPL_VAR SETTINGS.LABEL_VIDEOQMIN></label>
				</td>
				<td width="50%">
					<input type="range" name="cam2videoqmin" id="cam2videoqmin" value="<TMPL_VAR CAM2.VIDEOQMIN>" min="-1" max="69" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOQMIN></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideoqmax"><TMPL_VAR SETTINGS.LABEL_VIDEOQMAX></label>
				</td>
				<td width="50%">
					<input type="range" name="cam2videoqmax" id="cam2videoqmax" value="<TMPL_VAR CAM2.VIDEOQMAX>" min="-1" max="100" step="1">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_VIDEOQMAX></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_EXTRASFEED></label>
				</td>
				<td width="50%">
								<input name="cam2extrasfeed" id="cam2extrasfeed" value="<TMPL_VAR CAM2.EXTRAS_FEED>">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_EXTRASFEED></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_EXTRASSTREAM></label>
				</td>
				<td width="50%">
								<input name="cam2extrasfeed" id="cam2extrasfeed" value="<TMPL_VAR CAM2.EXTRAS_STREAM>">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_EXTRASSTREAM></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelpicture"><TMPL_VAR SETTINGS.LABEL_PICACTIVE></label>
				</td>
				<td width="50%">
					<TMPL_VAR CAM2PICACTIVE>
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_PICACTIVE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelvideosize"><TMPL_VAR SETTINGS.LABEL_IMAGESIZE></label>
				</td>
				<td width="50%">
					<input type="text" name="cam2imagesize" id="cam2imagesize" value="<TMPL_VAR CAM2.IMAGESIZE>" data-validation-error-msg="<TMPL_VAR SETTINGS.ERR_IMAGESIZE>"
          data-validation-rule="^([0-9]){3,4}x([0-9]){3,4}$">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_IMAGESIZE></font>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<label id="labelurl"><TMPL_VAR SETTINGS.LABEL_EXTRASIMAGE></label>
				</td>
				<td width="50%">
								<input name="cam2extrasfeed" id="cam2extrasfeed" value="<TMPL_VAR CAM2.EXTRAS_IMAGE>">
				</td>
				<td width="5%" valign="middle">
					&nbsp;
				</td>
				<td width="20%">
					<font size="-1"><TMPL_VAR SETTINGS.HINT_EXTRASIMAGE></font>
				</td>
			</tr>
		</table>
		</div>



	</div>
</form>

<script>
// Add some attributes PERL::CGI doesn't provide
$('select[name=startffserver]').attr('data-role','flipswitch');
$('select[name=cam1active]').attr('data-role','flipswitch');
$('select[name=cam1picactive]').attr('data-role','flipswitch');
$('select[name=cam2active]').attr('data-role','flipswitch');
$('select[name=cam2picactive]').attr('data-role','flipswitch');

// Form validation
$( document ).ready(function()
{
	validate_enable('#cam1url');
	validate_enable('#cam1videosize');
	validate_enable('#cam1imagesize');
	validate_enable('#cam2url');
	validate_enable('#cam2videosize');
	validate_enable('#cam2imagesize');
});
</script>
